{%
  set classes = [
    'twoColumns',
    settings.container_type ? 'twoColumns--' ~ settings.container_type : '',
    settings.columns_size ? 'twoColumns--' ~ settings.columns_size : '',
    settings.padding_top ? settings.padding_top : '',
    settings.padding_bottom ? settings.padding_bottom : '',
    settings.gap ? settings.gap : '',
  ]
%}

{%
  set style_vars = [
    settings.background_color != 'default' and settings.background_color != 'customColor' ? '--backgroundColor: var(--' ~ settings.background_color ~ ')',
    settings.background_color == 'customColor' ? '--backgroundColor: ' ~ settings.background_custom_color,
  ]|remove_empty
%}

{% if content %}
  <section {{ attributes.setAttribute('style', style_vars|join('; ')).addClass(classes) }}>
    <h2 class='visually-hidden'>{{ settings.label }}</h2>
    {% if content.twoColumns__left %}
      <div {{ region_attributes.twoColumns__left.addClass('twoColumns__left-region') }}>
        {{ content.twoColumns__left }}
      </div>
    {% endif %}
    {% if content.twoColumns__right %}
      <div {{ region_attributes.twoColumns__right.addClass('twoColumns__right-region') }}>
        {{ content.twoColumns__right }}
      </div>
    {% endif %}
  </section>
{% endif %}
